/* Base styles for larger screens */
.header {
  background-color: white;
  padding: 30px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(10, 65, 10);
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.menu_list_item {
  list-style: none;
}

.menu_list_item a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }

  .menu_list {
    gap: 10px;
  }
  .menu_list_item a {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 20px 0;
  }

  .menu_list_item a {
    font-size: 14px;
  }
}
