.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15)),
    url("../assets/home-page-banner.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.hero_cont {
  height: 100%;
  padding: 140px 0;
}

.hero {
  width: 100%;
}
.sub_title {
  color: white;
}
.title {
  color: white;
  margin-top: 20px;
  font-size: 70px;
  font-family: "BebasNeueBook";
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 40px;
}
.description {
  font-size: 14px;
  line-height: 28px;
  font-family: "Libre Baskerville", sans-serif;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1.12px;
  max-width: 510px;
}
.search_cont {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  position: sticky;
  top: 0%;
}

.search_input_cont {
  width: 100%;
  max-width: 600px;
  position: relative;
  z-index: 9999;
}
.search_cont input {
  width: 100%;
  padding: 15px 20px;
  border: 0;
  outline: 0;
  border-radius: 8px;
}

.search_cont input::placeholder {
  font-size: 15px;
  margin: 0;
}

.search_dropdown {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
  border-radius: 5px;
}

.search_dropdown li {
  list-style: none;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.115);
  transition: all 0.3s;
}

.search_dropdown li:hover {
  background-color: rgba(219, 219, 219, 0.416);
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero_cont {
    padding: 100px 0;
  }
  .sub_title {
    color: white;
  }
  .title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 60px;
  }
  .description {
    font-size: 14px;
    width: 70%;
  }
  .search_cont {
    margin-top: 70px;
  }
}

@media (max-width: 576px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15)),
      url("../assets/banner-mobile.avif");
    height: 70vh;
  }
  .title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .description {
    font-size: 14px;
  }
  .search_cont {
    margin-top: 70px;
  }
  .search_input_cont {
    max-width: 90%;
  }
}
